<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login&register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">

    <title>Account | Azport</title>
</head>



<body>
    <div class="container">
        <div class="contact-box">
            <div class="left">
                <img src="/img/Pullup.PNG" id="pullup">
            </div>
            <div class="right">
                <div class="form-input">
                    <a href="/"><img src="/img/logo.png" alt="" id="logo"></a>
                    <h2>MY AZPORT ACCOUNT</h2>

                    <div class="register">
                        <a href="/auth/login"><button class="upperbtn">Log in</button></a>
                        <a href="/auth/register"><button class="upperbtn">Sign up</button></a>
                    </div>


                    <form id="formularioRegistro" action="/auth/register" method="POST" enctype="multipart/form-data">

                        <p class="email info">Email Address</p>
                        <div class="inputForm">

                            <input id="email" type="text" name="email" class="field" placeholder="Enter email address"
                                value="<%= locals.oldData ? oldData.email : null %>">

                            <% if (locals.errors && errors.email) { %>
                                <p class="error">
                                    <%= errors.email.msg %>
                                </p>
                                <% } %>
                                    <span class="error" id="error-email"></span>
                        </div>


                        <p class="password info">Password</p>
                        <div class="inputForm">
                            <input id="password" type="password" name="password" class="field"
                                placeholder="Enter password">

                            <% if (locals.errors && errors.password) { %>
                                <p class="error">
                                    <%= errors.password.msg %>
                                </p>
                                <% } %>
                                    <span class="error" id="error-password"></span>
                        </div>

                        <div class="inputForm">
                            <p class=" name info">First Name</p>
                            <input id="name" type="text" name="nombre" class="field" placeholder="Enter first name"
                                value="<%= locals.oldData ? oldData.nombre : null %>">

                            <% if (locals.errors && errors.nombre) { %>
                                <p class="error">
                                    <%= errors.nombre.msg %>
                                </p>
                                <% } %>
                                    <span class="error" id="error-nombre"></span>
                        </div>

                        <div class="inputForm">
                            <p class=" name info">Last Name</p>
                            <input id="apellido" type="text" name="apellido" class="field" placeholder="Enter last name"
                                value="<%= locals.oldData ? oldData.apellido : null %>">

                            <% if (locals.errors && errors.apellido) { %>
                                <p class="error">
                                    <%= errors.apellido.msg %>
                                </p>
                                <% } %>
                                    <span class="error" id="error-apellido"></span>
                        </div>



                        <div class="check">
                            <input type="checkbox" id="cbox2" value="second_checkbox">
                            <label for="cbox2" id="label">Tick here if you want to get marketing
                                emails from
                                Azport</label>
                        </div>

                        <div class="last-text">
                            <p>Want to know more about how and why Azport uses your personal
                                information? Read our
                                Privacy Notice.</p>
                        </div>
                        <div><input type="checkbox" name="logged" id="">Remember me</div>
                        <div>

                            <div class="createButton">
                                <button class="btn" type="submit" id="btnCreacion">Create Account</button>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="/js/validationsRegister.js"></script>
</body>

</html>